/*
* header and nav
*/
header {
    text-align: center;
}
nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li:first-child {
    padding-left: 0;
}
nav ul li {
    display: inline;
    padding-left: 1ch;
    white-space: nowrap;
}

/*
* footer
*/
footer {
    font-size: smaller;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "hr hr "
        "links vote"
}
footer hr {
    grid-area: hr;
    width:100%;
}
footer > span {
    display: flex;
    grid-area: links;
    flex-direction: column;
}
footer > form {
    grid-area: vote;
    text-align: right;
}
footer > form > span:first-child {
    display: inline;
    padding-right: 0;
    vertical-align: top;
}
footer > form > span {
    display: inline-flex;
    flex-wrap: nowrap;
    padding-right: 1rem;
}

/*
* sections
*/
section {
    padding: 0.5em;
}
section h2 a:hover:after  {
    font-size: 75%;
    content: "\0000A7";
}
a[name] {
    text-decoration: none;
    color: inherit; 
}
li {
    margin: 0 0 6px 0;
}

/*
* mobile and small screen
*/
@media (max-width: 35rem) {
    html, body {
        padding: 0;
        height: 100%;
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    section:nth-of-type(2n+1) {
        background: #fcfcf2;
    }
    /* section:nth-of-type(3) {
        background: #fcf7f2;
    } */
}
